<connectionStrings>
    <add name="Clm" connectionString="Data Source=localhost;Initial Catalog=clm;Integrated Security=SSPI" />
    <add name="Clm3000" connectionString="Data Source=localhost;Initial Catalog=clm3000;Integrated Security=SSPI" />
    <add name="Clm3100" connectionString="Data Source=localhost;Initial Catalog=clm3100;Integrated Security=SSPI" />
</connectionStrings>
