<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <appSettings>
    <add key="MsgSvcAddress" value="localhost"/>
    <add key="MsgSvcPort" value="0"/>
    <add key="TestClientId" value="{00000000-0000-0000-0000-000000000000}"/>
  </appSettings>
</configuration>
