<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <add key="log4net.Internal.Debug" value="False"/>
    <add key="WrkSvcAddress" value=""/>
    <add key="WrkSvcPort" value="0"/>
    <add key="WrkName" value=""/>
    <add key="WrkNoOfCores" value="0"/>
    <add key="WrkMsgSvcAddress" value="localhost"/>
    <add key="WrkMsgSvcPort" value="0"/>
    <add key="WrkMsgCliId" value="{00000000-0000-0000-0000-000000000000}" />
    <add key="WrkPartitioner" value="{F941F87C-BEBC-43E7-ABD3-967E377CBD57}"/>
    <add key="WrkInactive" value="False"/>
  </appSettings>
</configuration>
